

/* Font example
--------------------------------------------------------------*/
h1,h2,h3,h4,h5 {
  color: #111;
}
h1 {
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 5px;
  padding-top: 5px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
}
h3 {
  font-size: 18px;
  line-height: 28px;
}
h4 {
  font-size: 16px;
  line-height: 28px;
}
h5 {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
h6 {
  font-size: 13px;
  line-height: 24px;
  color: #858585;
}
p {
  font-size: 13px;
  color: #454545;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* container example
--------------------------------------------------------------*/
.detailPage-top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 2px;
	border: 2px solid black;
	padding: 8px;
	height: 200px;
/*	position: fixed; ? */
}
.detailPage-bottom {
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	margin: 2px;
	border: 2px solid black;
	padding: 8px;
	height: 800px;
/*	position: relative;
	top: 230px; */
}
.detailPage-left {
	border: 2px solid gray;
	margin: 10px;
	padding: 10px;
}

.detailPage-middle {
	border: 2px solid gray;
	margin: 10px;
	padding: 10px;
}
.detailPage-right {
	border: 2px solid gray;
	margin: 10px;
	padding: 10px;
}
.img {
	border: 2px solid gray;
	margin: 10px;
	padding: 10px;
}
.diner-nameMenu {
	
}
.diner-info {
	
}
.diner-location {
	
}
.diner-event {
	
}
.comment {
	
}

/* Other
--------------------------------------------------------------*/