@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&display=swap');
body{font-family: 'IBM Plex Sans KR', sans-serif;}
#outnav{
  width: 1200px;
  height: 60px;
  margin: 30px auto;
  text-align: center;
}
#wrap{
  width: 1200px;
  height: 1000px;
  margin: 20px auto;
  border:2px
  solid #4aa8d8;
  text-align: center;
}

#search_tab{
  top:100px;
  margin: auto;
}

#title{
  font-size: 18px;
  width:600px;
  height:15px;
  padding:10px;
  border:2px
  solid #4aa8d8;
  text-align:center;
}

#button0{
  width:80px;
  border:2px
  solid #4aa8d8;
  font-size: 18px;
}

#pictures{
  width: 90%;
  height: 17%;
  padding: 2%;
  margin: auto;
  display: flex;
  border-bottom: 2px solid #4aa8d8;
}

#infw{
  width: 90%;
  height: 77%;
  padding: 2%;
  margin: auto;
  display: flex;
}

#w1{
  width: 30%;
  height: 97%;
  padding: 3%;
  margin: auto;
  display: inline-block;
}

#w2{
  width: 30%;
  height: 97%;
  padding: 3%;
  margin: auto;
  display: inline-block;
}

#w3{
  width: 30%;
  height: 97%;
  padding: 3%;
  margin: auto;
  display: inline-block;
}

#menu{
  width: 97%;
  height: 27%;
  margin: 0 0 40px 0;
  padding: 3%;
  overflow: auto;
}

#rev{
  width: 97%;
  height: 67% auto;
  padding: 3%;
  border: 2px solid #4aa8d8;
}

#now{
  width: 97%;
  height: 67% auto;
  margin: 0 0 30px 0;
  padding: 3%;
  border: 2px solid #4aa8d8;
}

#evt{
  width: 97%;
  height: 20% auto;
  padding: 3%;
  border: 2px solid #4aa8d8;
}

#mapimg{
  width: 97%;
  height: 57% auto;
  margin: 0 0 40px 0;
  padding: 3%;
}

#mapinf{
  width: 97%;
  height: 37% auto;
  margin: 0 0 20px 0;
  padding: 3%;
  border: 2px solid #4aa8d8;
}

#txtBox {
  border-style: solid;
  border-width: 2px;
  padding: 12px;
  word-break: break-all;
  border-color: LightGray;
  background-color:rgba(211, 211, 211, 0.2);
  margin: 0 0 20px 0;
}

#txtBox2 {
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  word-break: break-all;
  border-color: LightGray;
  background-color:rgba(211, 211, 211, 0.2);
  margin: 0 0 20px 0;
}

.green {
  display: inline;
  background-color: chartreuse
 }

#box {
  width:30px;
  height:20px;
  margin: 0 auto;
 }

 textarea {
  width: 80%;
  height: 30px;
  padding: 10px 10px;
  font-size: 15px;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 이 아래로 이미지 */
.timg{
  width: 32%;
  height: 90%;
  margin: auto;
}
#menuimg{
  width: 90%;
  height: 90%;
  margin: auto;
}

#mapimgid{
  width: 90%;
  height: 90%;
  margin: auto;
}
